
      body {
        font-family: Arial, sans-serif;
        
      }
      
      h1 {
        text-align: center;
      }
      
      #taskInput {
        width: 300px;
        margin-bottom: 10px;
      }
      
      #addButton {
        margin-bottom: 10px;
      }
      
      li {
        list-style-type: none;
        margin-bottom: 5px;
      }
      
      button {
        margin-left: 5px;
      }.form> input{
        padding: 18px 20px;
        width: 40%;
        border-radius: 5px;
        outline: none;
        border:solid wheat;
        font-size: 18px;
    } 
    .container{
      margin-top: 50px;
    }
    ul{
      list-style: none;
      width: 500px;
    }
    ul li{
      width: 100%;
      background: white;
      height:40px ;
      line-height: 40px;
      padding: 0 5px;
      position: relative;
      cursor: pointer;
      display: block;
      margin: 5px 0;
      box-shadow: black;



    }
    ul li span{
      position:absolute;
      top:0;
      right:0 ;
      width: 50px;
      text-align: center;
      background: red;

    }
      